.skills-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--dark-blue);
    padding: 16px;
    width: 80%;
    max-width: 800px;
}

.heading-row {
    display: flex;
    gap: 16px;
    align-items: center;

    >h2 {
        font-size: 24px;
        font-weight: 600;
    }
}

.skills-wrapper {
    display: flex;
}

.skill-description {
    border-left: 1px solid white;
    padding: 0px 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;

    >h2 {
        margin-bottom: -32px;
    }
}

.skills-group {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.skill {
    padding: 8px;
    border-radius: 8px 0px 0px 8px;
    display: flex;
    gap: 16px;
    transition: all 0.3s ease-in-out
}

.skill:hover,
.skill.selected {
    background-color: rgba(104, 105, 168, 0.3);
}

.time {
    width: 120px;
    font-weight: 800;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;

    >h3 {
        font-weight: 800;
    }

    >h4 {
        font-size: 12px;
    }
}